<?xml version="1.0"?>
<config>
	<app framerate_cap="60">
		<title>D&amp;D: Wrath of Silumgar</title>
		<organization>Triggered Squid</organization>
	</app>
	<renderer>
		<vsync value="true" />
	</renderer>
	<font>
		<default_font file="fonts/FritzQuadrata Regular.ttf" size="12" />
	</font>
	<gui>
		<atlas file="textures/GUI/ui_atlas.png" />
		<button>
			<fx pressed="audio/fx/pressed_btn.wav" released="audio/fx/released_btn.wav" hover="audio/fx/hover_btn.wav" />
		</button>
	</gui>
	<language current="ENG" />
	<window>
		<resolution width="1452" height="972" scale="3" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<music fx="100" music="6">
		<lvlMusic name="textures/source_spritesheet.png" />
	</music>
	<world_map>
		<spritesheet name="textures/WorldMap/map_spritesheet.png" />
		<world_map_tmx name="world_map.tmx" />
		<world_map_elements>
			<map_element>
				<tier type="3" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<scene name="cave_02.tmx" />
				<icon_coords x="200" y="480" width="100" height="100" />
			</map_element>
			<map_element>
				<tier type="3" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<scene name="cave_02.tmx" />
				<icon_coords x="300" y="480" width="100" height="100" />
			</map_element>
			<map_element>
				<tier type="3" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<scene name="cave_02.tmx" />
				<icon_coords x="100" y="480" width="100" height="100" />
			</map_element>
			<map_element>
				<tier type="3" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<scene name="cave_02.tmx" />
				<icon_coords x="400" y="480" width="100" height="100" />
			</map_element>
			<map_element>
				<tier type="2" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<entity name="KOBOLD" />
				<scene name="pink_cave.tmx" />
				<icon_coords x="400" y="480" width="100" height="100" />
			</map_element>
			<map_element>
				<tier type="2" />
				<entity name="GOBLIN" />
				<entity name="GOBLIN" />
				<entity name="GOBLIN" />
				<scene name="pink_cave.tmx" />
				<icon_coords x="300" y="480" width="100" height="100" />
			</map_element>
			<map_element>
				<tier type="2" />
				<entity name="KOBOLD" />
				<entity name="GOBLIN" />
				<scene name="pink_cave.tmx" />
				<icon_coords x="100" y="480" width="100" height="100" />
			</map_element>
			<map_element>
				<tier type="1" />
				<entity name="KOBOLD" />
				<entity name="GOBLIN" />
				<scene name="tabern.tmx" />
				<icon_coords x="0" y="480" width="100" height="100" />
			</map_element>
		</world_map_elements>
	</world_map>
	<entities>
		<cleric spritesheetName="textures/Characters/Cleric_sheet.png" />
		<miniheroes spritesheetName="textures/Characters/MiniHeroes_sheet.png" />
		<dwarf spritesheetName="textures/Characters/Dwarf_sheet.png" />
		<elf spritesheetName="textures/Characters/Elf_sheet.png" />
		<warrior spritesheetName="textures/Characters/Warrior_sheet.png" />
		<bowGnoll spritesheetName="textures/Enemies/BowGnoll_sheet.png" />
		<darkWarrior spritesheetName="textures/Enemies/DarkWarrior_sheet.png" />
		<displacerBeast spritesheetName="textures/Enemies/DisplacerBeast_sheet.png" />
		<gnollA spritesheetName="textures/Enemies/GnollA_sheet.png" />
		<goblins spritesheetName="textures/Enemies/Goblins_sheet.png" />
		<hellbound spritesheetName="textures/Enemies/Hellhound_sheet.png" />
		<kobold spritesheetName="textures/Enemies/Kobold_sheet.png" />
		<lich1st spritesheetName="textures/Enemies/Lich1st_sheet.png" />
		<owlbear spritesheetName="textures/Enemies/Owlbear_sheet.png" />
		<skeleton spritesheetName="textures/Enemies/Skeleton_sheet.png" />
		<triton spritesheetName="textures/Enemies/Triton_sheet.png" />
		<trollLeader spritesheetName="textures/Enemies/TrollLeader_sheet.png" />
		<spritesheetSource name="textures/" />
		<player>
			<fxPlayerJump name="audio/fx/jump_fx.wav" />
			<animations>
				<animation name="down_idle" speed="1.0" loop="true">
					<frame x="2" y="1" width="8" height="29" />
					<frame x="13" y="1" width="8" height="29" />
				</animation>
			</animations>
		</player>
	</entities>
	<file_system>
		<path>data.zip</path>
	</file_system>
	<map>
		<folder>maps/</folder>
		<scene>
			<data name="world_map.tmx" start="true" currentLvl="true" />
		</scene>
	</map>
	<skill_tree>
		<spritesheet name="textures/SkillTree/skil_tree.png" />
		<skill_tree_map_tmx name="skill_tree_map.tmx" />
		<spritesheet_abilities name="textures/Abilities/abilities.png" />
	</skill_tree>
</config>
